.github/**
.vscode/**
.vscode-clean/**
.vscode-test/**
.vscode-test-web/**
.yarn/**
!images/icon.png
images/**
node_modules/**
out/**
patches/**
scripts/**
src/**
test/**
**/*.fig
**/*.map
**/*.pdn
**/*.js.LICENSE.txt
.eslintcache
.eslintignore
.eslintrc*.json
.git-blame-ignore-revs
.gitattributes
.gitignore
.mailmap
.prettierignore
.prettierrc
.yarnrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
README.pre.md
tsconfig*.json
tsconfig*.tsbuildinfo
webpack.config*.js
yarn.lock
.DS_Store
